# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.venv
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# ML Models & Data
*.pt
*.weights
*.keras
*.pkl
*.db
*.csv
!traffic-dashboard/data/traffic.csv # Kecualikan jika Anda ingin tetap menyertakan data dummy dasar

# Logging
nohup.out
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
